<li>
  <span class="user"><%= link_to "@#{repost.user.name}", repost.user %></span>
  <span class="dot">·</span>
  <span class="timestamp"><%= time_ago_in_words(repost.created_at) %> ago</span>
  <div class="repost">
    <span class="user"><%= link_to "@#{repost.post.user.name}", repost.post.user %></span>
    <span class="dot">·</span>
    <span class="timestamp"><%= time_ago_in_words(repost.post.created_at) %> ago</span>
    <span class="content"><%= repost.post.content %></span>
    <% if like = current_user.likes.find_by(post_id: repost.post.id) %>
    <span class="action"><%= link_to "Unlike (#{repost.post.likes.count})",
                                     "/likes/#{like.id}",
                                     method: :delete %></span>
    <% else %>
    <span class="action"><%= link_to "Like (#{repost.post.likes.count})",
                                     '/likes?' + {post_id: repost.post.id}.to_param,
                                     method: :post %></span>
    <% end %>

    <% unless current_user.reposts.find_by(post_id: repost.post.id) %>
      <span class="action"><%= link_to "Repost (#{repost.post.reposts.count})",
                                       '/reposts?' + {post_id: repost.post.id}.to_param,
                                       method: :post %></span>
    <% end %>
  </div>
</li>