<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= "@#{@user.name}" %>
      </h1>
    </section>
    <section>
      <%= render 'follow_form' if logged_in? %>
      <%= render 'follow_stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? || @user.reposts.any? %>
      <h3>Posts (<%= @user.posts.count + @user.reposts.count %>)</h3>
      <ul class="posts">
        <%= render (@posts + @user.reposts).sort_by{|p| p.created_at}.reverse %>
      </ul>
    <% end %>
  </div>
</div>

